/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
html {
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
  color:#373737;
  background: #58585B;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 400;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 46px;
  font-weight: 400;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #BBBDC0;
}

footer p {
  font-family: 'Lato', sans-serif;
  color: #58585B;
}

a {
  text-decoration: none;
  color: #BBBDC0;
  text-shadow: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: all 250ms ease-in-out 0s;
}

a:hover, a:focus { color: #82BC00; text-decoration: none;}

footer a {
  color: #58585B;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.outer {
  width: 100%;
}

.inner {
  max-width: 60%;
  margin: 0 auto;
}

#header_wrap {
  background: #FFFFFF;
  position: static;
  height: 100px;
}

#symbol {
  float: right;
  margin: 0;
  padding: 0;
  opacity: 0.4;
}


#main_content_wrap {
  background: #58585B;
  height: 81%;
  position: relative;
  overflow: auto;
}

#main_content {
  padding-top: 40px;
  background: #58585B;
}

#footer_wrap {
  background: #FFFFFF;
  position: static;
  height: 120px;
}

#divider {
  height: 20px;
  background: #82BC00;
}

#header_title {
  font-size: 30px;
}

#home_link {
  color: #FFFFFF;
  float: right;
  font-weight: 400;
  transition: all 250ms ease-in-out 0s;
}

#home_link:hover {
  color: #58585B;
}


/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }
  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}
